body{
    background-color: #D3F1DF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
        height: 100%;   /* Ensures the body takes up the full height of the viewport */
        margin: 0;      /* Removes default margin */
        display: flex;
        justify-content: center;   /* Centers horizontally */
        align-items: center;       /* Centers vertically */
        background-color: #D3F1DF; /* Optional, if you want a background color */
      

}
li{
    list-style-type: none;
}
div{
    align-content: center;
    border-radius: 8px;
    max-width: 1000px;
    padding:10px;
    
}


h1{
    font-family: Georgia;

}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    
  }
  
  .address-card {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    background-color: #f9f9f9;
  }

  .input {
    max-width: 550px;
    width: 100%;
    padding: 25px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


.input table {
    width: 100%;
    border-collapse: collapse;
}

.input table tr {
    margin-bottom: 10px;
    
}

.input label {
    display: block;
    margin-right: 5px;
    font-size: 18px;
    color: #333;
    text-align: left;
}


.input input {
    width: 90%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    background-color: #f7f7f7;
    color: #333;
    transition: all 0.3s ease;
    text-align: left;
}

.input input:focus {
    border-color: #87c99b;
    background-color: #fff;
    outline: none;
    box-shadow: 0 0 5px rgba(135, 201, 155, 0.4);
}

.input button {
    width: 100%;
    padding: 12px;
    background-color: #278d45cd;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.input button:hover {
    background-color: #6db386;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.inputboxx {
             /* Center horizontally */
    text-align: center;      /* Center text inside */
    width: 100%;             /* Ensure it uses full width available */
    max-width: 700px;        /* Set a maximum width */
  }

.address-card {
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #e0e0e0;
    border-radius: 6px;
    background-color: #f9f9f9;
}

.fields {
    margin: 2px 0;
    font-size: 18px;
    color: #333;
}
  

  